# ---------------------------------
# Database Administration
# ---------------------------------
Search-Replace-DB-*
srdb2.php
srdb.php

# ---------------------------------
# Sitemaps, Licenses, Readmes
# ---------------------------------
/readme.html
/sitemap.xml
/sitemap.xml.gz
/license.txt

# ---------------------------------
# Configs
# ---------------------------------
wp-config.php
.env

# ---------------------------------
# Content
# ---------------------------------
/wp-content/backup-db/
/wp-content/backups/
/wp-content/blogs.dir/
/wp-content/cache/
/wp-content/upgrade/
/wp-content/uploads/

# ---------------------------------
# Default Themes
# ---------------------------------
/wp-content/themes/twentytwentyone
/wp-content/themes/twentytwenty
/wp-content/themes/twentynineteen
/wp-content/themes/twentyeighteen
/wp-content/themes/twentyseventeen
/wp-content/themes/twentysixteen

# ---------------------------------
# Default Plugins
# ---------------------------------
/wp-content/plugins/akismet
/wp-content/plugins/hello.php

# ---------------------------------
# Package Managers
# ---------------------------------
node_modules

# ---------------------------------
# Logs
# ---------------------------------
*.log

# ---------------------------------
# IDEs
# ---------------------------------
.idea

# ---------------------------------
# Databases
# ---------------------------------
*.sql
*.sqlite

# ---------------------------------
# OS
# ---------------------------------
.DS_Store

# ---------------------------------
# Force Login File
# ---------------------------------
/login.php
